body {
  background-color: bisque;
  font-family: "Poppins", sans-serif;
  margin: 0;
}


.navbar {
  position: fixed;                 
  top: 0;
  width: 100%;
  background-color: #8b4513;
}

.navbar ul {
  display: flex;                  
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}


article {
  text-align: center;
  background-color: #f0e0c6;
  border: 4px solid #8b4513;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  padding: 35px;
  max-width: 900px;
  margin: 120px auto;
}


.title, h2, h3 {
  color: #5a2e0e;
  font-family: "Merriweather", serif;
}

.subtitle {
  color: brown;
}


p {
  text-align: justify;
  line-height: 1.7;
  color: #3e2a1b;
}


.editorial {
  padding: 90px 60px;
}

.intro {
  font-size: 26px;
  line-height: 2;
  max-width: 700px;
  margin: 40px auto 20px;
  font-family: "Merriweather", serif;
  text-align: center;
}

.intro-small {
  font-size: 18px;
  line-height: 1.9;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}


.gallery {
  display: grid;               
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

img {
  max-width: 250px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}


@media (max-width: 768px) {

  .navbar ul {
    flex-direction: column;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  img {
    max-width: 100%;
  }

  .editorial {
    padding: 50px 25px;
  }
}
